body {
    height: 100%;
}

input {
    background-color: #555 !important;
    color: #FFF !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
}

.container {
    min-height: calc(100vh - (56px * 2));
}

.card {
    width: 382px;
}

.smallText {
    font-size: 10px;
}

.noWrap {
    white-space: nowrap;
}

.verticalAlignMiddle {
    vertical-align: middle;
}