<table width="100%">
    <tr>
        <td width="250" align="left"><a href="/"><img src="/img/radio.gif" border="0" height="20" align="left"><font face="Arial, Helvetica">Radio Hive</font></a></td>
        <td width="50%" align="center"><font face="Arial, Helvetica" size="5">{{ title | upcase }}</font></td>
        <td width="250" align="right"><font face="Courier New">{{ "now" | format_date: "MM/dd/yyyy h:mm tt" }}</font></td>
    </tr>
    <tr>
        <td>
            {% if stats %}
            <font face="Courier New">{{ stats.Stations | format_number:"N0" }}</font> <font size="-2">Total Stations</font>
            {% endif %}
        </td>
        <td align="right" colspan="2">
            {% include "partials/menu.html" %}
        </td>
    </tr>
</table>
<hr>