{% assign title = "Download" %}
<html>
<head>
    {% include 'partials/head.html' %}
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}

    <table>
        <tr>
            <td><img src="/img/header.gif"></td>
            <td><font size="5">Download Palace</font><br>A VintageHive Service</td>
        </tr>
    </table>
    <table>
        <tr>
            <td valign="top" width="160">
                <font size="4" face="Arial">Repositories</font><br>

                {% if repos == empty %}
                <h1><font color="red">There is no repos defined! Make a DOWNLOAD folder in VintageHive's root directory.</font></h1>
                {% else %}
              
                {% for repo in repos %}
                <img src="/img/globe.gif"> <a href="/download.html?repo={{ repo[0] }}">{{ repo[1].Item1 }}</a><br>
                {% endfor %}
     
                {% endif %}
            </td>
            <td colspan="3">
                {% if reponame %}
                <table>
                    <!--<tr>
                        <td align="center" colspan="4"><font size="4" face="Arial">{{ reponame }}</font></td>
                    </tr>-->
                    <tr>
                        <td align="center" colspan="4"><font face="Courier New"><a href="/download.html?repo={{ reposhortname }}">{{ reponame }}</a>:{{ path | pathlinksplit }}</font></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">Name</td>
                        <td align="center">Last Modified</td>
                        <td align="center">Size</td>
                    </tr>
                    <tr>
                        <td colspan="4"><hr></td>
                    </tr>
                    {% unless isroot %}
                    <tr>
                        <td><img src="/img/back.gif"></td>
                        <td colspan="3"><a href="/download.html?repo={{ reposhortname }}&path={{ parentpath | urlencode }}"><font face="Courier New">Parent Directory</font></a></td>
                    </tr>
                    {% endunless %}
                    {% for dir in dirs %}
                    <tr>
                        <td><img src="/img/folder.gif"></td>
                        <td><a href="/download.html?repo={{ reposhortname }}&path={{ path | urlencode }}{{ dir.Name | urlencode }}%2f"><font face="Courier New">{{ dir.Name }}</font></a></td>
                        <td width="120" align="center"><font size="1">&nbsp;&nbsp;{{ dir.LastWriteTime }}&nbsp;&nbsp;</font></td>
                        <td align="center">&nbsp;</td>
                    </tr>
                    {% endfor %}
                    {% for file in files %}
                    <tr>
                        <td><img src="/img/file.gif"></td>
                        <td><a href="/download.html?repo={{ reposhortname }}&path={{ path | urlencode }}&file={{ file.Name | urlencode }}"><font face="Courier New">{{ file.Name }}</font></a></td>
                        <td width="120" align="center"><font size="1">&nbsp;&nbsp;{{ file.LastWriteTime }}&nbsp;&nbsp;</font></td>
                        <td width="75" align="right"><font size="2" face="monospace">{{ file.Length | bytes }}</font></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><hr></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ dirs_total }} total dir(s)</td>
                        <td colspan="2">{{ files_total }} total file(s)</td>
                    </tr>
                </table>
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>