{% assign title = "Help" %}
<html>
<head>
    {% include 'partials/head.html' %}
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}

    <center><font face="Courier New" size="5"><b>VintageHive Help &amp; Setup Guide</b></font></center>

    <hr>

    <table border="1" cellpadding="10" width="100%">
        <tr bgcolor="#111111">
            <td>
                <font face="Courier New">
                <p>Welcome to the VintageHive help system. Select a topic below to get started.</p>
                </font>
            </td>
        </tr>
    </table>

    <br>

    <table border="1" cellpadding="8" width="100%">
        <tr bgcolor="#333333">
            <td><font face="Courier New" size="4"><b>Topics</b></font></td>
        </tr>
        <tr>
            <td bgcolor="#111111">
                <font face="Courier New" size="3">
                <table cellpadding="6" width="100%">
                    <tr>
                        <td valign="top" width="30"><b>1.</b></td>
                        <td><a href="/help/client.html"><b>Client Settings (Proxy)</b></a><br>
                        <font size="2">Configure your vintage computer to use VintageHive as an HTTP proxy.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>2.</b></td>
                        <td><a href="/help/printing.html"><b>Printing</b></a><br>
                        <font size="2">Set up printing from DOS, Windows, Mac, and Unix via IPP, LPD, or Raw TCP.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>3.</b></td>
                        <td><a href="/help/email.html"><b>E-Mail</b></a><br>
                        <font size="2">Configure SMTP and POP3 for vintage e-mail clients.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>4.</b></td>
                        <td><a href="/help/irc.html"><b>IRC (Chat)</b></a><br>
                        <font size="2">Connect to the built-in IRC server with mIRC, Pirch, ircII, and more.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>5.</b></td>
                        <td><a href="/help/ftp.html"><b>FTP (File Transfer)</b></a><br>
                        <font size="2">Access archived FTP sites and local file downloads.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>6.</b></td>
                        <td><a href="/help/web.html"><b>Web Browsing Tips</b></a><br>
                        <font size="2">Internet Archive, ProtoWeb, and browsing the modern web with vintage browsers.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>7.</b></td>
                        <td><a href="/help/logins.html"><b>Logging Into Services</b></a><br>
                        <font size="2">Create accounts and log into VintageHive services.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>8.</b></td>
                        <td><a href="/help/usenet.html"><b>Usenet (Newsgroups)</b></a><br>
                        <font size="2">Configure your newsreader for Usenet access.</font></td>
                    </tr>
                    <tr><td colspan="2"><hr size="1"></td></tr>
                    <tr>
                        <td valign="top"><b>9.</b></td>
                        <td><a href="/help/telnet.html"><b>Telnet</b></a><br>
                        <font size="2">Terminal-based access to VintageHive.</font></td>
                    </tr>
                </table>
                </font>
            </td>
        </tr>
    </table>

    <br>

    {% include 'partials/footer.html' %}
</body>
</html>