{% assign title = "Weather" %}
{% assign currwidth = "110" %}
<html>
<head>
    <title>VintageHive - {{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}
    <form action="/weather.html" height="0" style="display: inline">
        <font size="4" face="Courier New">Weather for:</font>
        <input type="text" name="location" size="42" value="{{ weather_location }}">
        <input type="submit" value="Go">
        {% if weather_location != weather_privacy %}<a href="/weather.html">Clear</a>{% endif %}
        <font size="4" face="Courier New">
            |
            <a href="/api/set?u=c">{% if u == 'c' %}[{% endif %}&#176;C{% if u == 'c' %}]{% endif %}</a> /
            <a href="/api/set?u=f">{% if u == 'f' %}[{% endif %}&#176;F{% if u == 'f' %}]{% endif %}</a>
        </font>
    </form>
    {% if weather %}
    <table bgcolor="#444444" border="1" width="100%">
        <tr>
            <td colspan="8" align="center" bgcolor="black"><font size="-1" face="Courier New">{{ weather_fullname }}</font></td>
        </tr>
        <tr>
            <td width="{{ currwidth }}" align="center">
                <font size="-2" face="Courier New">{{ weather.CurrentWeather.Time | format_date: 'ddd MMM dd' }}</font><br><font size="-1" face="Courier New">{{ weather.CurrentWeather.Time | format_date: 'h:mm tt' }}</font>
            </td>
            <td rowspan="3" colspan="7" valign="top">
                <table width="100%" cellspacing="3">
                    <tr>
                        <td colspan="8"><img src="/img/clear.gif" height="6"></td>
                    </tr>
                    <tr>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[0] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[1] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[2] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[3] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[4] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[5] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[6] | format_date: 'h:mm tt' }}</font></td>
                        <td align="center"><font size="-1" face="Courier New">{{ weather.Hourly.CurrentTime[7] | format_date: 'h:mm tt' }}</font></td>

                    </tr>
                    <tr>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[0] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[0] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[1] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[1] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[2] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[2] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[3] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[3] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[4] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[4] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[5] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[5] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[6] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[6] | wmotostring }}</font>
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Hourly.CurrentWeathercode[7] }}.jpg"><br>
                            <font size="-3">{{ weather.Hourly.CurrentWeathercode[7] | wmotostring}}</font>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[0] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[1] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[2] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[3] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[4] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[5] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[6] }}{{ weather.TempUnits }}</td>
                        <td align="center">{{ weather.Hourly.CurrentTemperature2m[7] }}{{ weather.TempUnits }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="{{ currwidth }}" align="center">
                <img src="/img/weather/{{ weather.CurrentWeather.Weathercode }}.jpg"><br>
                <font size="-3">{{ weather.CurrentWeather.Weathercode | wmotostring }}</font>
            </td>
        </tr>
        <tr>
            <td width="{{ currwidth }}" align="center" valign="middle"><h2>{{ weather.CurrentWeather.Temperature }}{{ weather.TempUnits }}</h2></td>
        </tr>
        <tr>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[0] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[1] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[2] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[3] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[4] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[5] | format_date: 'ddd MMM dd' }}</font></td>
            <td align="center"><font size="-2" face="Courier New">{{ weather.Daily.Time[6] | format_date: 'ddd MMM dd' }}</font></td>
        </tr>
        <tr>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[0] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[0] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[1] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[1] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[2] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[2] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[3] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[3] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[4] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[4] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[5] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[5] | wmotostring }}</font>
            </td>
            <td align="center">
                <img src="/img/weather/{{ weather.Daily.Weathercode[6] }}.jpg"><br>
                <font size="-3">{{ weather.Daily.Weathercode[6] | wmotostring }}</font>
            </td>
        </tr>
        <tr>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[0] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[0] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[1] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[1] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[2] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[2] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[3] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[3] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[4] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[4] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[5] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[5] }}{{ weather.TempUnits }}</h4></td>
            <td align="center"><h4>{{ weather.Daily.Temperature2mMin[6] }}{{ weather.TempUnits }} / {{ weather.Daily.Temperature2mMax[6] }}{{ weather.TempUnits }}</h4></td>
        </tr>

    </table>

    <hr>

    {% include 'partials/weatherlocations.html' %}

    {% else %}

    <center>
        <h1 id="region"><font face="Courier New">{{ weather_location }}</font></h1>
        <h2>Not Found <i>and/or</i> weather data is down.</h2>
        <h3><a href="/weather.html">Go Back</a></h3>
    </center>

    {% endif %}

    {% include 'partials/footer.html' %}
</body>
</html>