<table width="100%">
    <tr>
        <td width="250" align="left"><a href="/"><img border="0" width="18" src="/img/hive.gif"><font face="Arial, Helvetica">VintageHive</font></a></td>
        <td width="50%" align="center"><font face="Arial, Helvetica" size="5">{{ title | upcase }}</font></td>
        <td width="250" align="right"><font face="Courier New">{{ "now" | format_date: "MM/dd/yyyy h:mm tt" }}</font></td>
    </tr>
    <tr>
        <td align="right" colspan="3">
            {% include "partials/menu.html" %}
        </td>
    </tr>
</table>
<hr>