<table border="1" width="100%">
    <tr>
        <td colspan="4" align="center"><font size="4">United States</font></td>
    </tr>
    <tr>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather.html?location=akron%2C+oh">Akron, OH</a></li>
                    <li><a href="/weather.html?location=albuquerque%2C+nm">Albuquerque, NM</a></li>
                    <li><a href="/weather.html?location=alexandria%2C+va">Alexandria, VA</a></li>
                    <li><a href="/weather.html?location=amarillo%2C+tx">Amarillo, TX</a></li>
                    <li><a href="/weather.html?location=anaheim%2C+ca">Anaheim, CA</a></li>
                    <li><a href="/weather.html?location=anchorage%2C+ak">Anchorage, AK</a></li>
                    <li><a href="/weather.html?location=arlington%2C+tx">Arlington, TX</a></li>
                    <li><a href="/weather.html?location=arlington%2C+va">Arlington, VA</a></li>
                    <li><a href="/weather.html?location=atlanta%2C+ga">Atlanta, GA</a></li>
                    <li><a href="/weather.html?location=augusta%2C+ga">Augusta, GA</a></li>
                    <li><a href="/weather.html?location=aurora%2C+co">Aurora, CO</a></li>
                    <li><a href="/weather.html?location=aurora%2C+il">Aurora, IL</a></li>
                    <li><a href="/weather.html?location=austin%2C+tx">Austin, TX</a></li>
                    <li><a href="/weather.html?location=bakersfield%2C+ca">Bakersfield, CA</a></li>
                    <li><a href="/weather.html?location=baltimore%2C+md">Baltimore, MD</a></li>
                    <li><a href="/weather.html?location=baton+rouge%2C+la">Baton Rouge, LA</a></li>
                    <li><a href="/weather.html?location=bayamon%2C+pr">Bayamon, PR</a></li>
                    <li><a href="/weather.html?location=bellevue%2C+wa">Bellevue, WA</a></li>
                    <li><a href="/weather.html?location=birmingham%2C+al">Birmingham, AL</a></li>
                    <li><a href="/weather.html?location=boise%2C+id">Boise, ID</a></li>
                    <li><a href="/weather.html?location=boston%2C+ma">Boston, MA</a></li>
                    <li><a href="/weather.html?location=bridgeport%2C+ct">Bridgeport, CT</a></li>
                    <li><a href="/weather.html?location=brownsville%2C+tx">Brownsville, TX</a></li>
                    <li><a href="/weather.html?location=buffalo%2C+ny">Buffalo, NY</a></li>
                    <li><a href="/weather.html?location=cape+coral%2C+fl">Cape Coral, FL</a></li>
                    <li><a href="/weather.html?location=carrollton%2C+tx">Carrollton, TX</a></li>
                    <li><a href="/weather.html?location=cary%2C+nc">Cary, NC</a></li>
                    <li><a href="/weather.html?location=chandler%2C+az">Chandler, AZ</a></li>
                    <li><a href="/weather.html?location=charlotte%2C+nc">Charlotte, NC</a></li>
                    <li><a href="/weather.html?location=chattanooga%2C+tn">Chattanooga, TN</a></li>
                    <li><a href="/weather.html?location=chesapeake%2C+va">Chesapeake, VA</a></li>
                    <li><a href="/weather.html?location=chicago%2C+il">Chicago, IL</a></li>
                    <li><a href="/weather.html?location=chula+vista%2C+ca">Chula Vista, CA</a></li>
                    <li><a href="/weather.html?location=cincinnati%2C+oh">Cincinnati, OH</a></li>
                    <li><a href="/weather.html?location=clarksville%2C+tn">Clarksville, TN</a></li>
                    <li><a href="/weather.html?location=cleveland%2C+oh">Cleveland, OH</a></li>
                    <li><a href="/weather.html?location=colorado+springs%2C+co">Colorado Springs, CO</a></li>
                    <li><a href="/weather.html?location=columbus%2C+ga">Columbus, GA</a></li>
                    <li><a href="/weather.html?location=columbus%2C+oh">Columbus, OH</a></li>
                    <li><a href="/weather.html?location=corona%2C+ca">Corona, CA</a></li>
                    <li><a href="/weather.html?location=corpus+christi%2C+tx">Corpus Christi, TX</a></li>
                    <li><a href="/weather.html?location=dallas%2C+tx">Dallas, TX</a></li>
                    <li><a href="/weather.html?location=denton%2C+tx">Denton, TX</a></li>
                    <li><a href="/weather.html?location=denver%2C+co">Denver, CO</a></li>
                    <li><a href="/weather.html?location=des+moines%2C+ia">Des Moines, IA</a></li>
                    <li><a href="/weather.html?location=detroit%2C+mi">Detroit, MI</a></li>
                    <li><a href="/weather.html?location=durham%2C+nc">Durham, NC</a></li>
                    <li><a href="/weather.html?location=el+paso%2C+tx">El Paso, TX</a></li>
                    <li><a href="/weather.html?location=elk+grove%2C+ca">Elk Grove, CA</a></li>
                    <li><a href="/weather.html?location=enterprise%2C+nv">Enterprise, NV</a></li>
                    <li><a href="/weather.html?location=escondido%2C+ca">Escondido, CA</a></li>
                </ul>
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather.html?location=eugene%2C+or">Eugene, OR</a></li>
                    <li><a href="/weather.html?location=fayetteville%2C+nc">Fayetteville, NC</a></li>
                    <li><a href="/weather.html?location=fontana%2C+ca">Fontana, CA</a></li>
                    <li><a href="/weather.html?location=fort+collins%2C+co">Fort Collins, CO</a></li>
                    <li><a href="/weather.html?location=fort+lauderdale%2C+fl">Fort Lauderdale, FL</a></li>
                    <li><a href="/weather.html?location=fort+wayne%2C+in">Fort Wayne, IN</a></li>
                    <li><a href="/weather.html?location=fort+worth%2C+tx">Fort Worth, TX</a></li>
                    <li><a href="/weather.html?location=fremont%2C+ca">Fremont, CA</a></li>
                    <li><a href="/weather.html?location=fresno%2C+ca">Fresno, CA</a></li>
                    <li><a href="/weather.html?location=frisco%2C+tx">Frisco, TX</a></li>
                    <li><a href="/weather.html?location=garden+grove%2C+ca">Garden Grove, CA</a></li>
                    <li><a href="/weather.html?location=garland%2C+tx">Garland, TX</a></li>
                    <li><a href="/weather.html?location=gilbert%2C+az">Gilbert, AZ</a></li>
                    <li><a href="/weather.html?location=glendale%2C+az">Glendale, AZ</a></li>
                    <li><a href="/weather.html?location=glendale%2C+ca">Glendale, CA</a></li>
                    <li><a href="/weather.html?location=grand+prairie%2C+tx">Grand Prairie, TX</a></li>
                    <li><a href="/weather.html?location=grand+rapids%2C+mi">Grand Rapids, MI</a></li>
                    <li><a href="/weather.html?location=greensboro%2C+nc">Greensboro, NC</a></li>
                    <li><a href="/weather.html?location=hayward%2C+ca">Hayward, CA</a></li>
                    <li><a href="/weather.html?location=henderson%2C+nv">Henderson, NV</a></li>
                    <li><a href="/weather.html?location=hialeah%2C+fl">Hialeah, FL</a></li>
                    <li><a href="/weather.html?location=hollywood%2C+fl">Hollywood, FL</a></li>
                    <li><a href="/weather.html?location=honolulu%2C+hi">Honolulu, HI</a></li>
                    <li><a href="/weather.html?location=houston%2C+tx">Houston, TX</a></li>
                    <li><a href="/weather.html?location=huntington+beach%2C+ca">Huntington Beach, CA</a></li>
                    <li><a href="/weather.html?location=huntsville%2C+al">Huntsville, AL</a></li>
                    <li><a href="/weather.html?location=indianapolis%2C+in">Indianapolis, IN</a></li>
                    <li><a href="/weather.html?location=irvine%2C+ca">Irvine, CA</a></li>
                    <li><a href="/weather.html?location=irving%2C+tx">Irving, TX</a></li>
                    <li><a href="/weather.html?location=jackson%2C+ms">Jackson, MS</a></li>
                    <li><a href="/weather.html?location=jacksonville%2C+fl">Jacksonville, FL</a></li>
                    <li><a href="/weather.html?location=jersey+city%2C+nj">Jersey City, NJ</a></li>
                    <li><a href="/weather.html?location=joliet%2C+il">Joliet, IL</a></li>
                    <li><a href="/weather.html?location=kansas+city%2C+ks">Kansas City, KS</a></li>
                    <li><a href="/weather.html?location=kansas+city%2C+mo">Kansas City, MO</a></li>
                    <li><a href="/weather.html?location=killeen%2C+tx">Killeen, TX</a></li>
                    <li><a href="/weather.html?location=knoxville%2C+tn">Knoxville, TN</a></li>
                    <li><a href="/weather.html?location=lakewood%2C+co">Lakewood, CO</a></li>
                    <li><a href="/weather.html?location=lancaster%2C+ca">Lancaster, CA</a></li>
                    <li><a href="/weather.html?location=laredo%2C+tx">Laredo, TX</a></li>
                    <li><a href="/weather.html?location=las+vegas%2C+nv">Las Vegas, NV</a></li>
                    <li><a href="/weather.html?location=lexington%2C+ky">Lexington, KY</a></li>
                    <li><a href="/weather.html?location=lincoln%2C+ne">Lincoln, NE</a></li>
                    <li><a href="/weather.html?location=little+rock%2C+ar">Little Rock, AR</a></li>
                    <li><a href="/weather.html?location=long+beach%2C+ca">Long Beach, CA</a></li>
                    <li><a href="/weather.html?location=los+angeles%2C+ca">Los Angeles, CA</a></li>
                    <li><a href="/weather.html?location=louisville%2C+ky">Louisville, KY</a></li>
                    <li><a href="/weather.html?location=lubbock%2C+tx">Lubbock, TX</a></li>
                    <li><a href="/weather.html?location=macon%2C+ga">Macon, GA</a></li>
                    <li><a href="/weather.html?location=madison%2C+wi">Madison, WI</a></li>
                    <li><a href="/weather.html?location=mcallen%2C+tx">McAllen, TX</a></li>
                </ul>        
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather.html?location=mckinney%2C+tx">McKinney, TX</a></li>
                    <li><a href="/weather.html?location=memphis%2C+tn">Memphis, TN</a></li>
                    <li><a href="/weather.html?location=mesa%2C+az">Mesa, AZ</a></li>
                    <li><a href="/weather.html?location=metairie%2C+la">Metairie, LA</a></li>
                    <li><a href="/weather.html?location=miami%2C+fl">Miami, FL</a></li>
                    <li><a href="/weather.html?location=midland%2C+tx">Midland, TX</a></li>
                    <li><a href="/weather.html?location=milwaukee%2C+wi">Milwaukee, WI</a></li>
                    <li><a href="/weather.html?location=minneapolis%2C+mn">Minneapolis, MN</a></li>
                    <li><a href="/weather.html?location=miramar%2C+fl">Miramar, FL</a></li>
                    <li><a href="/weather.html?location=mobile%2C+al">Mobile, AL</a></li>
                    <li><a href="/weather.html?location=modesto%2C+ca">Modesto, CA</a></li>
                    <li><a href="/weather.html?location=montgomery%2C+al">Montgomery, AL</a></li>
                    <li><a href="/weather.html?location=moreno+valley%2C+ca">Moreno Valley, CA</a></li>
                    <li><a href="/weather.html?location=murfreesboro%2C+tn">Murfreesboro, TN</a></li>
                    <li><a href="/weather.html?location=naperville%2C+il">Naperville, IL</a></li>
                    <li><a href="/weather.html?location=nashville%2C+tn">Nashville, TN</a></li>
                    <li><a href="/weather.html?location=new+orleans%2C+la">New Orleans, LA</a></li>
                    <li><a href="/weather.html?location=new+york+city%2C+ny">New York City, NY</a></li>
                    <li><a href="/weather.html?location=newark%2C+nj">Newark, NJ</a></li>
                    <li><a href="/weather.html?location=newport+news%2C+va">Newport News, VA</a></li>
                    <li><a href="/weather.html?location=norfolk%2C+va">Norfolk, VA</a></li>
                    <li><a href="/weather.html?location=north+las+vegas%2C+nv">North Las Vegas, NV</a></li>
                    <li><a href="/weather.html?location=oakland%2C+ca">Oakland, CA</a></li>
                    <li><a href="/weather.html?location=oceanside%2C+ca">Oceanside, CA</a></li>
                    <li><a href="/weather.html?location=oklahoma+city%2C+ok">Oklahoma City, OK</a></li>
                    <li><a href="/weather.html?location=olathe%2C+ks">Olathe, KS</a></li>
                    <li><a href="/weather.html?location=omaha%2C+ne">Omaha, NE</a></li>
                    <li><a href="/weather.html?location=ontario%2C+ca">Ontario, CA</a></li>
                    <li><a href="/weather.html?location=orlando%2C+fl">Orlando, FL</a></li>
                    <li><a href="/weather.html?location=overland+park%2C+ks">Overland Park, KS</a></li>
                    <li><a href="/weather.html?location=oxnard%2C+ca">Oxnard, CA</a></li>
                    <li><a href="/weather.html?location=palmdale%2C+ca">Palmdale, CA</a></li>
                    <li><a href="/weather.html?location=paradise%2C+nv">Paradise, NV</a></li>
                    <li><a href="/weather.html?location=pasadena%2C+tx">Pasadena, TX</a></li>
                    <li><a href="/weather.html?location=paterson%2C+nj">Paterson, NJ</a></li>
                    <li><a href="/weather.html?location=pembroke+pines%2C+fl">Pembroke Pines, FL</a></li>
                    <li><a href="/weather.html?location=peoria%2C+az">Peoria, AZ</a></li>
                    <li><a href="/weather.html?location=philadelphia%2C+pa">Philadelphia, PA</a></li>
                    <li><a href="/weather.html?location=phoenix%2C+az">Phoenix, AZ</a></li>
                    <li><a href="/weather.html?location=pittsburgh%2C+pa">Pittsburgh, PA</a></li>
                    <li><a href="/weather.html?location=plano%2C+tx">Plano, TX</a></li>
                    <li><a href="/weather.html?location=pomona%2C+ca">Pomona, CA</a></li>
                    <li><a href="/weather.html?location=port+st.+lucie%2C+fl">Port St. Lucie, FL</a></li>
                    <li><a href="/weather.html?location=portland%2C+or">Portland, OR</a></li>
                    <li><a href="/weather.html?location=providence%2C+ri">Providence, RI</a></li>
                    <li><a href="/weather.html?location=raleigh%2C+nc">Raleigh, NC</a></li>
                    <li><a href="/weather.html?location=rancho+cucamonga%2C+ca">Rancho Cucamonga, CA</a></li>
                    <li><a href="/weather.html?location=reno%2C+nv">Reno, NV</a></li>
                    <li><a href="/weather.html?location=richmond%2C+va">Richmond, VA</a></li>
                    <li><a href="/weather.html?location=riverside%2C+ca">Riverside, CA</a></li>
                    <li><a href="/weather.html?location=rochester%2C+ny">Rochester, NY</a></li>
                </ul>
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather.html?location=rockford%2C+il">Rockford, IL</a></li>
                    <li><a href="/weather.html?location=roseville%2C+ca">Roseville, CA</a></li>
                    <li><a href="/weather.html?location=round+rock%2C+tx">Round Rock, TX</a></li>
                    <li><a href="/weather.html?location=sacramento%2C+ca">Sacramento, CA</a></li>
                    <li><a href="/weather.html?location=salem%2C+or">Salem, OR</a></li>
                    <li><a href="/weather.html?location=salinas%2C+ca">Salinas, CA</a></li>
                    <li><a href="/weather.html?location=salt+lake+city%2C+ut">Salt Lake City, UT</a></li>
                    <li><a href="/weather.html?location=san+antonio%2C+tx">San Antonio, TX</a></li>
                    <li><a href="/weather.html?location=san+bernardino%2C+ca">San Bernardino, CA</a></li>
                    <li><a href="/weather.html?location=san+diego%2C+ca">San Diego, CA</a></li>
                    <li><a href="/weather.html?location=san+francisco%2C+ca">San Francisco, CA</a></li>
                    <li><a href="/weather.html?location=san+jose%2C+ca">San Jose, CA</a></li>
                    <li><a href="/weather.html?location=san+juan%2C+pr">San Juan, PR</a></li>
                    <li><a href="/weather.html?location=santa+ana%2C+ca">Santa Ana, CA</a></li>
                    <li><a href="/weather.html?location=santa+clarita%2C+ca">Santa Clarita, CA</a></li>
                    <li><a href="/weather.html?location=santa+rosa%2C+ca">Santa Rosa, CA</a></li>
                    <li><a href="/weather.html?location=scottsdale%2C+az">Scottsdale, AZ</a></li>
                    <li><a href="/weather.html?location=seattle%2C+wa">Seattle, WA</a></li>
                    <li><a href="/weather.html?location=shreveport%2C+la">Shreveport, LA</a></li>
                    <li><a href="/weather.html?location=sioux+falls%2C+sd">Sioux Falls, SD</a></li>
                    <li><a href="/weather.html?location=spokane%2C+wa">Spokane, WA</a></li>
                    <li><a href="/weather.html?location=spring+valley%2C+nv">Spring Valley, NV</a></li>
                    <li><a href="/weather.html?location=springfield%2C+ma">Springfield, MA</a></li>
                    <li><a href="/weather.html?location=springfield%2C+mo">Springfield, MO</a></li>
                    <li><a href="/weather.html?location=st.+louis%2C+mo">St. Louis, MO</a></li>
                    <li><a href="/weather.html?location=st.+paul%2C+mn">St. Paul, MN</a></li>
                    <li><a href="/weather.html?location=st.+petersburg%2C+fl">St. Petersburg, FL</a></li>
                    <li><a href="/weather.html?location=stockton%2C+ca">Stockton, CA</a></li>
                    <li><a href="/weather.html?location=sunnyvale%2C+ca">Sunnyvale, CA</a></li>
                    <li><a href="/weather.html?location=sunrise+manor%2C+nv">Sunrise Manor, NV</a></li>
                    <li><a href="/weather.html?location=surprise%2C+az">Surprise, AZ</a></li>
                    <li><a href="/weather.html?location=tacoma%2C+wa">Tacoma, WA</a></li>
                    <li><a href="/weather.html?location=tallahassee%2C+fl">Tallahassee, FL</a></li>
                    <li><a href="/weather.html?location=tampa%2C+fl">Tampa, FL</a></li>
                    <li><a href="/weather.html?location=tempe%2C+az">Tempe, AZ</a></li>
                    <li><a href="/weather.html?location=thornton%2C+co">Thornton, CO</a></li>
                    <li><a href="/weather.html?location=toledo%2C+oh">Toledo, OH</a></li>
                    <li><a href="/weather.html?location=tucson%2C+az">Tucson, AZ</a></li>
                    <li><a href="/weather.html?location=tulsa%2C+ok">Tulsa, OK</a></li>
                    <li><a href="/weather.html?location=vancouver%2C+wa">Vancouver, WA</a></li>
                    <li><a href="/weather.html?location=virginia+beach%2C+va">Virginia Beach, VA</a></li>
                    <li><a href="/weather.html?location=waco%2C+tx">Waco, TX</a></li>
                    <li><a href="/weather.html?location=washington%2C+dc">Washington, DC</a></li>
                    <li><a href="/weather.html?location=wichita%2C+ks">Wichita, KS</a></li>
                    <li><a href="/weather.html?location=winston-salem%2C+nc">Winston-Salem, NC</a></li>
                    <li><a href="/weather.html?location=worcester%2C+ma">Worcester, MA</a></li>
                    <li><a href="/weather.html?location=yonkers%2C+ny">Yonkers, NY</a></li>
                </ul>
            </font>
        </td>
    </tr>
</table>