{% assign title = "Settings" %}
<html>
<head>
    <title>VintageHive - {{ title }}</title>
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}

    <table border="1" cellpadding="10">
        <tr>
            <td valign="top">
                <font face="Courier New" size="4">Client Details:</font>
                <table border="1" cellpadding="5">
                    <tr>
                        <td align="right">ClientIP</td>
                        <td align="center">{{ clientip }}</td>
                    </tr>
                    <tr>
                        <td align="right">Detected Browser</td>
                        <td align="center">{{ browserversion }}</td>
                    </tr>
                    <tr>
                        <td align="right">Detected OS</td>
                        <td align="center">{{ osversion }}</td>
                    </tr>
                    <tr>
                        <td align="right">Detected Device</td>
                        <td align="center">{{ deviceversion }}</td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <font face="Courier New" size="4">Internet Archive:</font>
                <form action="/api/iatoggle" method="POST" enctype="application/x-www-form-urlencoded">
                    {% if ia_toggle %}
                    <font face="Courier New" size="6" color="green">Enabled </font>
                    {% else %}
                    <font face="Courier New" size="6" color="red">Disabled </font>
                    {% endif %}
                    <input type="submit" name="toggle" value="{% if ia_toggle %}Disable{% else %}Enable{% endif %}">
                </form>
                {% if ia_toggle %}
                <form action="/api/iasetyear" method="POST" enctype="application/x-www-form-urlencoded">
                    Year
                    <select name="year">
                        {% for year in ia_years %}
                        {% if year == ia_current %}
                        <option selected>{{ year }}</option>
                        {% else %}
                        <option>{{ year }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Save">
                </form>
                {% endif %}
            </td>
            <td valign="top">
                <font face="Courier New" size="4">ProtoWeb:</font>
                <form action="/api/protowebtoggle" method="POST" enctype="application/x-www-form-urlencoded">
                    {% if proto_toggle %}
                    <font face="Courier New" size="6" color="green">Enabled </font>
                    {% else %}
                    <font face="Courier New" size="6" color="red">Disabled </font>
                    {% endif %}
                    <input type="submit" name="toggle" value="{% if proto_toggle %}Disable{% else %}Enable{% endif %}">
                </form>
            </td>
        </tr>
    </table>

    {% include 'partials/footer.html' %}
</body>
</html>