{% assign title = "Weather" %}
{% assign currwidth = "130" %}
<html>
<head>
    <title>VintageHive - {{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}

    {% if weather %}
    <form action="/weather.html" height="0" style="display: inline">
        <font size="4" face="Courier New">Weather for:</font>
        <input type="text" name="location" size="42" value="{{ weather_location }}">
        <input type="submit" value="Go">
        <font size="4" face="Courier New">| <a href="/api/set?u=c">[&#176;C]</a> / <a href="/api/set?u=f">&#176;F</a></font>
    </form>
    <table bgcolor="#444444" bordercolor="#444444" cellspacing="0" border="1" width="100%">
        <tr>
            <td width="{{ currwidth }}" align="center">
                <font face="Courier New">{{ weather.CurrentWeather.Time | format_date: 'ddd MMM dd' }}<br>{{ weather.CurrentWeather.Time | format_date: 'h:mm tt' }}</font>
            </td>
            <td width="100%" rowspan="3">
                <table width="100%">
                    <tr>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[0] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[1] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[2] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[3] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[4] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[5] | format_date: 'ddd MMM dd' }}</font></td>
                        <td align="center"><font face="Courier New">{{ weather.Daily.Time[6] | format_date: 'ddd MMM dd' }}</font></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[0] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[0] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[1] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[1] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[2] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[2] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[3] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[3] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[4] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[4] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[5] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[5] | wmotostring }}
                        </td>
                        <td align="center">
                            <img src="/img/weather/{{ weather.Daily.Weathercode[6] }}.jpg"><br>
                            {{ weather.Daily.Weathercode[6] | wmotostring }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[0] }}&#176;C / {{ weather.Daily.Temperature2mMax[0] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[1] }}&#176;C / {{ weather.Daily.Temperature2mMax[1] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[2] }}&#176;C / {{ weather.Daily.Temperature2mMax[2] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[3] }}&#176;C / {{ weather.Daily.Temperature2mMax[3] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[4] }}&#176;C / {{ weather.Daily.Temperature2mMax[4] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[5] }}&#176;C / {{ weather.Daily.Temperature2mMax[5] }}&#176;C</h4></td>
                        <td align="center"><h4>{{ weather.Daily.Temperature2mMin[6] }}&#176;C / {{ weather.Daily.Temperature2mMax[6] }}&#176;C</h4></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="{{ currwidth }}" align="center">
                <img src="/img/weather/{{ weather.CurrentWeather.Weathercode }}.jpg"><br>
                {{ weather.CurrentWeather.Weathercode | wmotostring }}
            </td>
        </tr>
        <tr>
            <td width="{{ currwidth }}" align="center" valign="middle"><h2>{{ weather.CurrentWeather.Temperature }}&#176;C</h2></td>
        </tr>
    </table>

    <hr>

    {% include 'partials/weatherlocations.html' %}

    {% else %}

    <center>
        <h1 id="region"></h1>
        <h2>Not Found <i>and/or</i> weather data is down.</h2>
    </center>

    {% endif %}

    {% include 'partials/footer.html' %}
</body>
</html>