{% assign title = "Weather" %}
<html>
<head>
    <title>VintageHive - {{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="black" text="white" link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">
    {% include 'partials/header.html' %}

    {% if weather %}
    <div>
        <font size="4" face="Courier New">
            <form action="/weather.html" height="0" style="display: inline">
                Weather for Location:
                <input type="text" name="location" size="42" value="{{ weather_location }}">
                <input type="submit" value="Go"> |
                <a href="/api/set?u=c">[&#176;C]</a> / <a href="/api/set?u=f">&#176;F</a>
            </form>
        </font>
    </div>
    <table bgcolor="#444444" border="1" width="100%">
        <tr>
            <td>
                <h1>{{ weather.CurrentWeather.Weathercode }}</h1>
                {{ weather.CurrentWeather.Temperature }}&#176;C
            </td>
        </tr>
    </table>
    <table border="1" width="100%">
        <tr>
            <td align="center" width="20%">{{ weather.CurrentWeather.Time }}</td>
            <td align="center" width="20%">{{ weather.Daily.Time[0] }}</td>
            <td align="center" width="20%">{{ weather.Daily.Time[1] }}</td>
            <td align="center" width="20%">{{ weather.Daily.Time[2] }}</td>
            <td align="center" width="20%">{{ weather.Daily.Time[3] }}</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <img src="{{ weather.CurrentConditions.IconURLInternal }}">
                <div>
                    <strong>{{ weather.CurrentWeather.Temperature }}&#176;C</strong>/<small>{{ weather.CurrentWeather.TemperatureF }}&#176;F</small>
                </div>
                <font size="1">{{ weather.CurrentConditions.Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[0].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[0].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[0].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[0].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[1].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[1].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[1].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[1].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[2].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[2].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[2].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[2].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[3].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[3].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[3].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[3].Comment }}</font>
            </td>
        </tr>
        <tr>
            <td align="center" width="20%">{{ weather.NextDays[4].Day }}</td>
            <td align="center" width="20%">{{ weather.NextDays[5].Day }}</td>
            <td align="center" width="20%">{{ weather.NextDays[6].Day }}</td>
            <td align="center" width="20%">{{ weather.NextDays[7].Day }}</td>
            <td rowspan="2" align="center" width="20%">
                Weather <i>graciously provided by</i> <b>Open-Meteo.com</b>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[4].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[4].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[4].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[4].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[5].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[5].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[5].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[5].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[6].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[6].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[6].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[6].Comment }}</font>
            </td>
            <td align="center" valign="top">
                <img src="{{ weather.NextDays[7].IconURLInternal }}">
                <div>
                    <strong>{{ weather.NextDays[7].MaxTemp.C }}&#176;C</strong>/<small>{{ weather.NextDays[7].MaxTemp.F }}&#176;F</small>
                </div>
                <font size="1">{{ weather.NextDays[7].Comment }}</font>
            </td>
        </tr>
    </table>
    
    <hr>

    {% include 'partials/weatherlocations.html' %}

    {% else %}

    <center>
        <h1 id="region"></h1>
        <h2>Not Found <i>and/or</i> WeatherDB is down.</h2>
    </center>

    {% endif %}

    {% include 'partials/footer.html' %}
</body>
</html>