<table width="100%">
    <tr>
        <td width="250" align="left"><a href="/"><img border="0" width="18" src="/img/hive.gif"><font face="Arial, Helvetica">VintageHive</font></a></td>
        <td width="50%" align="center"><font face="Arial, Helvetica" size="5">{{ title | upcase }}</font></td>
        <td width="250" align="right"><font face="Courier New">{{ "now" | format_date: "MM/dd/yyyy h:mm tt" }}</font></td>
    </tr>
    <tr>
        <td>
            <a href="login.html">{% if title == "Login" %}<b>[ Login ]</b>{% else %}Login{% endif %}</a> | 
            <a href="signup.html">{% if title == "Signup" %}<b>[ Signup ]</b>{% else %}Signup{% endif %}</a>
        </td>
        <td align="right" colspan="2">
            {% include "partials/menu.html" %}
        </td>
    </tr>
</table>
<hr>