<font face="Courier New" size="2">
    <a href="/help/client.html">{% if title == "Help - Client Settings" %}<b>[ Client ]</b>{% else %}Client{% endif %}</a>
    | <a href="/help/logins.html">{% if title == "Help - Logging In" %}<b>[ Logins ]</b>{% else %}Logins{% endif %}</a>
    | <a href="/help/printing.html">{% if title == "Help - Printing" %}<b>[ Printing ]</b>{% else %}Printing{% endif %}</a>
    | <a href="/help/email.html">{% if title == "Help - E-Mail" %}<b>[ E-Mail ]</b>{% else %}E-Mail{% endif %}</a>
    | <a href="/help/irc.html">{% if title == "Help - IRC" %}<b>[ IRC ]</b>{% else %}IRC{% endif %}</a>
    | <a href="/help/ftp.html">{% if title == "Help - FTP" %}<b>[ FTP ]</b>{% else %}FTP{% endif %}</a>
    | <a href="/help/web.html">{% if title == "Help - Web Browsing" %}<b>[ Web ]</b>{% else %}Web{% endif %}</a>
    | <a href="/help/usenet.html">{% if title == "Help - Usenet" %}<b>[ Usenet ]</b>{% else %}Usenet{% endif %}</a>
    | <a href="/help/socks.html">{% if title == "Help - SOCKS Proxy" %}<b>[ SOCKS ]</b>{% else %}SOCKS{% endif %}</a>
    | <a href="/help/telnet.html">{% if title == "Help - Telnet" %}<b>[ Telnet ]</b>{% else %}Telnet{% endif %}</a>
</font>