<table bordercolor="#000000" bgcolor="#444444" width="100%">
    <tr>
        <td bgcolor="#343434" colspan="9" align="center">
            <div style="float:right">( <a href="/news.html#top">Top <img border="0" align="top" src="/img/icons/bullet_arrow_up.gif"></a> )</div>
            <font size="3" face="Arial"><b>News Topics</b></font>
        </td>
    </tr>
    <tr>
        <td bgcolor="#333333" align="center">
            <img src="/img/icons/house.gif" hspace="2" align="middle">
            <a href="/news.html#local">Local</a>
        </td>
        <td bgcolor="#333333" align="center">
            <img src="/img/country/us.gif" hspace="2" align="middle">
            <a href="/news.html#us">US</a>
        </td>
        <td bgcolor="#333333" align="center">
            <img src="/img/icons/world.gif" hspace="2" align="middle">
            <a href="/news.html#world">World</a>
        </td>
        <td bgcolor="#000033" align="center">
            <img src="/img/icons/computer.gif" hspace="2" align="middle">
            <a href="/news.html#tech">Technology</a>
        </td>
        <td bgcolor="#333300" align="center">
            <img src="/img/icons/lightbulb.gif" hspace="2" align="middle">
            <a href="/news.html#science">Science</a>
        </td>
        <td bgcolor="#330000" align="center">
            <img src="/img/icons/briefcase.gif" hspace="2" align="middle">
            <a href="/news.html#business">Business</a>
        </td>
        <td bgcolor="#330033" align="center">
            <img src="/img/icons/camera.gif" hspace="2" align="middle">
            <a href="/news.html#ent">Entertainment</a>
        </td>
        <td bgcolor="#003300" align="center">
            <img src="/img/icons/medal_gold_1.gif" hspace="2" align="middle">
            <a href="/news.html#sports">Sports</a>
        </td>
        <td bgcolor="#003333" align="center">
            <img src="/img/icons/heart.gif" hspace="2" align="middle">
            <a href="/news.html#health">Health</a>
        </td>
    </tr>
</table>