<table border="1" width="100%">
    <tr>
        <td colspan="4" align="center"><font size="4">United States</font></td>
    </tr>
    <tr>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather?location=akron+oh">Akron, OH</a></li>
                    <li><a href="/weather?location=albuquerque+nm">Albuquerque, NM</a></li>
                    <li><a href="/weather?location=alexandria+va">Alexandria, VA</a></li>
                    <li><a href="/weather?location=amarillo+tx">Amarillo, TX</a></li>
                    <li><a href="/weather?location=anaheim+ca">Anaheim, CA</a></li>
                    <li><a href="/weather?location=anchorage+ak">Anchorage, AK</a></li>
                    <li><a href="/weather?location=arlington+tx">Arlington, TX</a></li>
                    <li><a href="/weather?location=arlington+va">Arlington, VA</a></li>
                    <li><a href="/weather?location=atlanta+ga">Atlanta, GA</a></li>
                    <li><a href="/weather?location=augusta+ga">Augusta, GA</a></li>
                    <li><a href="/weather?location=aurora+co">Aurora, CO</a></li>
                    <li><a href="/weather?location=aurora+il">Aurora, IL</a></li>
                    <li><a href="/weather?location=austin+tx">Austin, TX</a></li>
                    <li><a href="/weather?location=bakersfield+ca">Bakersfield, CA</a></li>
                    <li><a href="/weather?location=baltimore+md">Baltimore, MD</a></li>
                    <li><a href="/weather?location=baton+rouge+la">Baton Rouge, LA</a></li>
                    <li><a href="/weather?location=bayamon+pr">Bayamon, PR</a></li>
                    <li><a href="/weather?location=bellevue+wa">Bellevue, WA</a></li>
                    <li><a href="/weather?location=birmingham+al">Birmingham, AL</a></li>
                    <li><a href="/weather?location=boise+id">Boise, ID</a></li>
                    <li><a href="/weather?location=boston+ma">Boston, MA</a></li>
                    <li><a href="/weather?location=bridgeport+ct">Bridgeport, CT</a></li>
                    <li><a href="/weather?location=brownsville+tx">Brownsville, TX</a></li>
                    <li><a href="/weather?location=buffalo+ny">Buffalo, NY</a></li>
                    <li><a href="/weather?location=cape+coral+fl">Cape Coral, FL</a></li>
                    <li><a href="/weather?location=carrollton+tx">Carrollton, TX</a></li>
                    <li><a href="/weather?location=cary+nc">Cary, NC</a></li>
                    <li><a href="/weather?location=chandler+az">Chandler, AZ</a></li>
                    <li><a href="/weather?location=charlotte+nc">Charlotte, NC</a></li>
                    <li><a href="/weather?location=chattanooga+tn">Chattanooga, TN</a></li>
                    <li><a href="/weather?location=chesapeake+va">Chesapeake, VA</a></li>
                    <li><a href="/weather?location=chicago+il">Chicago, IL</a></li>
                    <li><a href="/weather?location=chula+vista+ca">Chula Vista, CA</a></li>
                    <li><a href="/weather?location=cincinnati+oh">Cincinnati, OH</a></li>
                    <li><a href="/weather?location=clarksville+tn">Clarksville, TN</a></li>
                    <li><a href="/weather?location=cleveland+oh">Cleveland, OH</a></li>
                    <li><a href="/weather?location=colorado+springs+co">Colorado Springs, CO</a></li>
                    <li><a href="/weather?location=columbus+ga">Columbus, GA</a></li>
                    <li><a href="/weather?location=columbus+oh">Columbus, OH</a></li>
                    <li><a href="/weather?location=corona+ca">Corona, CA</a></li>
                    <li><a href="/weather?location=corpus+christi+tx">Corpus Christi, TX</a></li>
                    <li><a href="/weather?location=dallas+tx">Dallas, TX</a></li>
                    <li><a href="/weather?location=denton+tx">Denton, TX</a></li>
                    <li><a href="/weather?location=denver+co">Denver, CO</a></li>
                    <li><a href="/weather?location=des+moines+ia">Des Moines, IA</a></li>
                    <li><a href="/weather?location=detroit+mi">Detroit, MI</a></li>
                    <li><a href="/weather?location=durham+nc">Durham, NC</a></li>
                    <li><a href="/weather?location=el+paso+tx">El Paso, TX</a></li>
                    <li><a href="/weather?location=elk+grove+ca">Elk Grove, CA</a></li>
                    <li><a href="/weather?location=enterprise+nv">Enterprise, NV</a></li>
                    <li><a href="/weather?location=escondido+ca">Escondido, CA</a></li>
                </ul>
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather?location=eugene+or">Eugene, OR</a></li>
                    <li><a href="/weather?location=fayetteville+nc">Fayetteville, NC</a></li>
                    <li><a href="/weather?location=fontana+ca">Fontana, CA</a></li>
                    <li><a href="/weather?location=fort+collins+co">Fort Collins, CO</a></li>
                    <li><a href="/weather?location=fort+lauderdale+fl">Fort Lauderdale, FL</a></li>
                    <li><a href="/weather?location=fort+wayne+in">Fort Wayne, IN</a></li>
                    <li><a href="/weather?location=fort+worth+tx">Fort Worth, TX</a></li>
                    <li><a href="/weather?location=fremont+ca">Fremont, CA</a></li>
                    <li><a href="/weather?location=fresno+ca">Fresno, CA</a></li>
                    <li><a href="/weather?location=frisco+tx">Frisco, TX</a></li>
                    <li><a href="/weather?location=garden+grove+ca">Garden Grove, CA</a></li>
                    <li><a href="/weather?location=garland+tx">Garland, TX</a></li>
                    <li><a href="/weather?location=gilbert+az">Gilbert, AZ</a></li>
                    <li><a href="/weather?location=glendale+az">Glendale, AZ</a></li>
                    <li><a href="/weather?location=glendale+ca">Glendale, CA</a></li>
                    <li><a href="/weather?location=grand+prairie+tx">Grand Prairie, TX</a></li>
                    <li><a href="/weather?location=grand+rapids+mi">Grand Rapids, MI</a></li>
                    <li><a href="/weather?location=greensboro+nc">Greensboro, NC</a></li>
                    <li><a href="/weather?location=hayward+ca">Hayward, CA</a></li>
                    <li><a href="/weather?location=henderson+nv">Henderson, NV</a></li>
                    <li><a href="/weather?location=hialeah+fl">Hialeah, FL</a></li>
                    <li><a href="/weather?location=hollywood+fl">Hollywood, FL</a></li>
                    <li><a href="/weather?location=honolulu+hi">Honolulu, HI</a></li>
                    <li><a href="/weather?location=houston+tx">Houston, TX</a></li>
                    <li><a href="/weather?location=huntington+beach+ca">Huntington Beach, CA</a></li>
                    <li><a href="/weather?location=huntsville+al">Huntsville, AL</a></li>
                    <li><a href="/weather?location=indianapolis+in">Indianapolis, IN</a></li>
                    <li><a href="/weather?location=irvine+ca">Irvine, CA</a></li>
                    <li><a href="/weather?location=irving+tx">Irving, TX</a></li>
                    <li><a href="/weather?location=jackson+ms">Jackson, MS</a></li>
                    <li><a href="/weather?location=jacksonville+fl">Jacksonville, FL</a></li>
                    <li><a href="/weather?location=jersey+city+nj">Jersey City, NJ</a></li>
                    <li><a href="/weather?location=joliet+il">Joliet, IL</a></li>
                    <li><a href="/weather?location=kansas+city+ks">Kansas City, KS</a></li>
                    <li><a href="/weather?location=kansas+city+mo">Kansas City, MO</a></li>
                    <li><a href="/weather?location=killeen+tx">Killeen, TX</a></li>
                    <li><a href="/weather?location=knoxville+tn">Knoxville, TN</a></li>
                    <li><a href="/weather?location=lakewood+co">Lakewood, CO</a></li>
                    <li><a href="/weather?location=lancaster+ca">Lancaster, CA</a></li>
                    <li><a href="/weather?location=laredo+tx">Laredo, TX</a></li>
                    <li><a href="/weather?location=las+vegas+nv">Las Vegas, NV</a></li>
                    <li><a href="/weather?location=lexington+ky">Lexington, KY</a></li>
                    <li><a href="/weather?location=lincoln+ne">Lincoln, NE</a></li>
                    <li><a href="/weather?location=little+rock+ar">Little Rock, AR</a></li>
                    <li><a href="/weather?location=long+beach+ca">Long Beach, CA</a></li>
                    <li><a href="/weather?location=los+angeles+ca">Los Angeles, CA</a></li>
                    <li><a href="/weather?location=louisville+ky">Louisville, KY</a></li>
                    <li><a href="/weather?location=lubbock+tx">Lubbock, TX</a></li>
                    <li><a href="/weather?location=macon+ga">Macon, GA</a></li>
                    <li><a href="/weather?location=madison+wi">Madison, WI</a></li>
                    <li><a href="/weather?location=mcallen+tx">McAllen, TX</a></li>
                </ul>        
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather?location=mckinney+tx">McKinney, TX</a></li>
                    <li><a href="/weather?location=memphis+tn">Memphis, TN</a></li>
                    <li><a href="/weather?location=mesa+az">Mesa, AZ</a></li>
                    <li><a href="/weather?location=metairie+la">Metairie, LA</a></li>
                    <li><a href="/weather?location=miami+fl">Miami, FL</a></li>
                    <li><a href="/weather?location=midland+tx">Midland, TX</a></li>
                    <li><a href="/weather?location=milwaukee+wi">Milwaukee, WI</a></li>
                    <li><a href="/weather?location=minneapolis+mn">Minneapolis, MN</a></li>
                    <li><a href="/weather?location=miramar+fl">Miramar, FL</a></li>
                    <li><a href="/weather?location=mobile+al">Mobile, AL</a></li>
                    <li><a href="/weather?location=modesto+ca">Modesto, CA</a></li>
                    <li><a href="/weather?location=montgomery+al">Montgomery, AL</a></li>
                    <li><a href="/weather?location=moreno+valley+ca">Moreno Valley, CA</a></li>
                    <li><a href="/weather?location=murfreesboro+tn">Murfreesboro, TN</a></li>
                    <li><a href="/weather?location=naperville+il">Naperville, IL</a></li>
                    <li><a href="/weather?location=nashville+tn">Nashville, TN</a></li>
                    <li><a href="/weather?location=new+orleans+la">New Orleans, LA</a></li>
                    <li><a href="/weather?location=new+york+city+ny">New York City, NY</a></li>
                    <li><a href="/weather?location=newark+nj">Newark, NJ</a></li>
                    <li><a href="/weather?location=newport+news+va">Newport News, VA</a></li>
                    <li><a href="/weather?location=norfolk+va">Norfolk, VA</a></li>
                    <li><a href="/weather?location=north+las+vegas+nv">North Las Vegas, NV</a></li>
                    <li><a href="/weather?location=oakland+ca">Oakland, CA</a></li>
                    <li><a href="/weather?location=oceanside+ca">Oceanside, CA</a></li>
                    <li><a href="/weather?location=oklahoma+city+ok">Oklahoma City, OK</a></li>
                    <li><a href="/weather?location=olathe+ks">Olathe, KS</a></li>
                    <li><a href="/weather?location=omaha+ne">Omaha, NE</a></li>
                    <li><a href="/weather?location=ontario+ca">Ontario, CA</a></li>
                    <li><a href="/weather?location=orlando+fl">Orlando, FL</a></li>
                    <li><a href="/weather?location=overland+park+ks">Overland Park, KS</a></li>
                    <li><a href="/weather?location=oxnard+ca">Oxnard, CA</a></li>
                    <li><a href="/weather?location=palmdale+ca">Palmdale, CA</a></li>
                    <li><a href="/weather?location=paradise+nv">Paradise, NV</a></li>
                    <li><a href="/weather?location=pasadena+tx">Pasadena, TX</a></li>
                    <li><a href="/weather?location=paterson+nj">Paterson, NJ</a></li>
                    <li><a href="/weather?location=pembroke+pines+fl">Pembroke Pines, FL</a></li>
                    <li><a href="/weather?location=peoria+az">Peoria, AZ</a></li>
                    <li><a href="/weather?location=philadelphia+pa">Philadelphia, PA</a></li>
                    <li><a href="/weather?location=phoenix+az">Phoenix, AZ</a></li>
                    <li><a href="/weather?location=pittsburgh+pa">Pittsburgh, PA</a></li>
                    <li><a href="/weather?location=plano+tx">Plano, TX</a></li>
                    <li><a href="/weather?location=pomona+ca">Pomona, CA</a></li>
                    <li><a href="/weather?location=port+st.+lucie+fl">Port St. Lucie, FL</a></li>
                    <li><a href="/weather?location=portland+or">Portland, OR</a></li>
                    <li><a href="/weather?location=providence+ri">Providence, RI</a></li>
                    <li><a href="/weather?location=raleigh+nc">Raleigh, NC</a></li>
                    <li><a href="/weather?location=rancho+cucamonga+ca">Rancho Cucamonga, CA</a></li>
                    <li><a href="/weather?location=reno+nv">Reno, NV</a></li>
                    <li><a href="/weather?location=richmond+va">Richmond, VA</a></li>
                    <li><a href="/weather?location=riverside+ca">Riverside, CA</a></li>
                    <li><a href="/weather?location=rochester+ny">Rochester, NY</a></li>
                </ul>
            </font>
        </td>
        <td valign="top">
            <font size="1">
                <ul compact="true" type="none" style="list-style:none;margin:0 5px 0">
                    <li><a href="/weather?location=rockford+il">Rockford, IL</a></li>
                    <li><a href="/weather?location=roseville+ca">Roseville, CA</a></li>
                    <li><a href="/weather?location=round+rock+tx">Round Rock, TX</a></li>
                    <li><a href="/weather?location=sacramento+ca">Sacramento, CA</a></li>
                    <li><a href="/weather?location=salem+or">Salem, OR</a></li>
                    <li><a href="/weather?location=salinas+ca">Salinas, CA</a></li>
                    <li><a href="/weather?location=salt+lake+city+ut">Salt Lake City, UT</a></li>
                    <li><a href="/weather?location=san+antonio+tx">San Antonio, TX</a></li>
                    <li><a href="/weather?location=san+bernardino+ca">San Bernardino, CA</a></li>
                    <li><a href="/weather?location=san+diego+ca">San Diego, CA</a></li>
                    <li><a href="/weather?location=san+francisco+ca">San Francisco, CA</a></li>
                    <li><a href="/weather?location=san+jose+ca">San Jose, CA</a></li>
                    <li><a href="/weather?location=san+juan+pr">San Juan, PR</a></li>
                    <li><a href="/weather?location=santa+ana+ca">Santa Ana, CA</a></li>
                    <li><a href="/weather?location=santa+clarita+ca">Santa Clarita, CA</a></li>
                    <li><a href="/weather?location=santa+rosa+ca">Santa Rosa, CA</a></li>
                    <li><a href="/weather?location=scottsdale+az">Scottsdale, AZ</a></li>
                    <li><a href="/weather?location=seattle+wa">Seattle, WA</a></li>
                    <li><a href="/weather?location=shreveport+la">Shreveport, LA</a></li>
                    <li><a href="/weather?location=sioux+falls+sd">Sioux Falls, SD</a></li>
                    <li><a href="/weather?location=spokane+wa">Spokane, WA</a></li>
                    <li><a href="/weather?location=spring+valley+nv">Spring Valley, NV</a></li>
                    <li><a href="/weather?location=springfield+ma">Springfield, MA</a></li>
                    <li><a href="/weather?location=springfield+mo">Springfield, MO</a></li>
                    <li><a href="/weather?location=st.+louis+mo">St. Louis, MO</a></li>
                    <li><a href="/weather?location=st.+paul+mn">St. Paul, MN</a></li>
                    <li><a href="/weather?location=st.+petersburg+fl">St. Petersburg, FL</a></li>
                    <li><a href="/weather?location=stockton+ca">Stockton, CA</a></li>
                    <li><a href="/weather?location=sunnyvale+ca">Sunnyvale, CA</a></li>
                    <li><a href="/weather?location=sunrise+manor+nv">Sunrise Manor, NV</a></li>
                    <li><a href="/weather?location=surprise+az">Surprise, AZ</a></li>
                    <li><a href="/weather?location=tacoma+wa">Tacoma, WA</a></li>
                    <li><a href="/weather?location=tallahassee+fl">Tallahassee, FL</a></li>
                    <li><a href="/weather?location=tampa+fl">Tampa, FL</a></li>
                    <li><a href="/weather?location=tempe+az">Tempe, AZ</a></li>
                    <li><a href="/weather?location=thornton+co">Thornton, CO</a></li>
                    <li><a href="/weather?location=toledo+oh">Toledo, OH</a></li>
                    <li><a href="/weather?location=tucson+az">Tucson, AZ</a></li>
                    <li><a href="/weather?location=tulsa+ok">Tulsa, OK</a></li>
                    <li><a href="/weather?location=vancouver+wa">Vancouver, WA</a></li>
                    <li><a href="/weather?location=virginia+beach+va">Virginia Beach, VA</a></li>
                    <li><a href="/weather?location=waco+tx">Waco, TX</a></li>
                    <li><a href="/weather?location=washington+dc">Washington, DC</a></li>
                    <li><a href="/weather?location=wichita+ks">Wichita, KS</a></li>
                    <li><a href="/weather?location=winston-salem+nc">Winston-Salem, NC</a></li>
                    <li><a href="/weather?location=worcester+ma">Worcester, MA</a></li>
                    <li><a href="/weather?location=yonkers+ny">Yonkers, NY</a></li>
                </ul>
            </font>
        </td>
    </tr>
</table>