{% assign title = "Home" %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'partials/head.html' %}
</head>
<body class="d-flex flex-column">
    {% include 'partials/header.html' %}
    
    <h1 class="mt-3">Cache Command & Control</h1>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-hover">

            </table>
        </div>
    </div>

    {% include 'partials/footer.html' %}
    <script type="module">
    </script>
</body>
</html>